<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>contatos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="pt" />
	<h:outputStylesheet name="css/screen.css" />
	<h:outputScript library="js" name="calendar.js" />
	<f:loadBundle basename="messages" var="msg" />
</h:head>

<h:body>

	<h:form id="formLogin" enctype="multipart/form-data">
		<p:growl id="gwlGeral" life="500000" globalOnly="true"
			autoUpdate="true" showDetail="true" showSummary="true"
			closable="true" />

		<div
			style="width: 100%; background: #ECF0F1; z-index: 999; position: fixed;">

			<div class="divBarraTop">

				<p:menubar id="menuPrincipal">
					<p:menuitem id="subInicio" value="#{msg.TEXT_INICIO}"
						url="http://localhost:8080/prova-web/paginas/area/inicio.xhtml" />
					<p:submenu id="subCadastros" label="Adicionar">
						<p:menuitem id="subMenuArea" value="#{msg.TEXT_CONTATO}"
							url="http://localhost:8080/prova-web/publico/cadastro/contato.xhtml" />
						<p:menuitem id="subMenuContato" value="#{msg.TEXT_RECADO}"
							url="http://localhost:8080/prova-web/paginas/cadastro/recado.xhtml" />
					</p:submenu>
					<p:submenu id="subGerencias" label="Gerenciar">
						<p:menuitem id="subMenuGerenciaRecado" value="#{msg.TEXT_RECADO}"
							url="http://localhost:8080/prova-web/paginas/gerencia/recado.xhtml" />

					</p:submenu>
				</p:menubar>

			</div>
		</div>

		<div class="divContainer">
			<ui:insert name="container"></ui:insert>
		</div>

	</h:form>
</h:body>
</html>