<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/default.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="container">
		<p:growl id="grwRegistraRecado" showDetail="true" globalOnly="true"
			sticky="true" />
		<p:dialog header="#{msg.TEXT_PESQUISA_CONTATO}"
			id="dlgPesquisaContato" widgetVar="dlgPesquisaContato">
			<h:panelGrid id="pngPesquisaContato"
				columnClasses="ui-grid-col-3,ui-grid-col-6,ui-grid-col-2"
				styleClass="pngDefault" columns="3">

				<p:outputLabel for="iptNomeContato" id="otpNomeContato"
					value="#{msg.LABEL_NOME}" />
				<p:inputText id="iptNomeContato" style="width: 300px;"
					value="#{recadoMB.contatoParam.nome}" />
				<p:message for="iptNomeContato" id="msgNomeContato" />

				<p:outputLabel for="iptLogin" id="otpLogin"
					value="#{msg.LABEL_LOGIN}" />
				<p:inputText id="iptLogin" style="width: 300px;"
					value="#{recadoMB.contatoParam.login}" />
				<p:message for="iptLogin" id="msgLogin" />

				<p:outputLabel for="iptRamal" id="otpRamal"
					value="#{msg.LABEL_RAMAL}" />
				<p:inputText id="iptRamal" style="width: 300px;"
					value="#{recadoMB.contatoParam.ramal}" />
				<p:message for="iptRamal" id="msgRamal" />

				<p:outputLabel for="iptEmail" id="otpEmail"
					value="#{msg.LABEL_EMAIL}" />
				<p:inputText id="iptEmail" style="width: 300px;"
					value="#{recadoMB.contatoParam.email}" />
				<p:message for="iptEmail" id="msgEmail" />
			</h:panelGrid>

			<h:panelGrid id="pngBotaoPesquisarContato" styleClass="pngBotao"
				columns="2">
				<p:commandButton id="btnPesquisarContato"
					process="pngPesquisaContato @this"
					action="#{recadoMB.pesquisarContato}" update="dttContato"
					value="#{msg.BOTAO_PESQUISAR}" />
			</h:panelGrid>


			<p:dataTable id="dttContato" var="contato"
				value="#{recadoMB.contatos}" selection="#{recadoMB.contatoSelected}"
				selectionMode="single" rowKey="#{contato.id}">
				<p:column headerText="#{msg.COLUMN_NOME}">
					<p:outputLabel value="#{contato.nome}" />
				</p:column>
				<p:column headerText="#{msg.COLUMN_LOGIN}">
					<p:outputLabel value="#{contato.login}" />
				</p:column>
				<p:column headerText="#{msg.COLUMN_EMAIL}">
					<p:outputLabel value="#{contato.email}" />
				</p:column>

			</p:dataTable>
			<h:panelGrid id="pngBotaoAdicionarContato" styleClass="pngBotao"
				columns="2">
				<p:commandButton id="btnRegistraContato"
					action="#{recadoMB.adicionarContato}"
					update="iptContato grwRegistraRecado"
					value="#{msg.BOTAO_ADICIONAR}" process="dttContato @this" />
			</h:panelGrid>


		</p:dialog>
		<p:panel id="pnlRecado" styleClass="pnlDefault"
			header="#{msg.TEXT_RECADO}">
			<h:panelGrid id="pngRecado"
				columnClasses="ui-grid-col-3,ui-grid-col-6,ui-grid-col-2"
				styleClass="pngDefault" columns="3" prependId="false">


				<p:outputLabel for="iptContato" id="otpContato"
					value="#{msg.LABEL_CONTATO}" />

				<p:inputText id="iptContato" style="width: 200px;"
					requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}"
					value="#{recadoMB.recado.idContato}" disabled="true" />
				<h:panelGroup>
					<p:message for="iptContato" id="msgContato" />
					<p:commandButton value="..." update="grwRegistraRecado"
						onclick="PF('dlgPesquisaContato').show();" />
				</h:panelGroup>

				<p:outputLabel for="iptQuem" id="otpQuem" value="#{msg.LABEL_QUEM}" />
				<p:inputText id="iptQuem" style="width: 200px;"
					requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}"
					value="#{recadoMB.recado.quem}" required="true" />
				<p:message for="iptQuem" id="msgQuem" />

				<p:outputLabel for="iptTexto" id="otpTexto"
					value="#{msg.LABEL_TEXTO}" />
				<p:inputTextarea id="iptTexto" style="width: 300px;"
					requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}"
					value="#{recadoMB.recado.texto}" required="true" />
				<p:message for="iptTexto" id="msgTexto" />

			</h:panelGrid>
			<h:panelGrid id="pngBotao" styleClass="pngBotao" columns="2">
				<p:commandButton id="btnRegistrar" action="#{recadoMB.registrar}"
					update="pngRecado grwRegistraRecado" value="#{msg.BOTAO_REGISTRAR}"
					process="pngRecado @this" />
			</h:panelGrid>
		</p:panel>

	</ui:define>
</ui:composition>