<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/defaultLogin.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="container">
		<p:growl id="grwLogin" showDetail="true" globalOnly="true"
			sticky="true" />
		<p:panel d="pnlLogin" styleClass="pnlDefault"
			header="#{msg.TEXT_LOGIN}">

			<h:panelGrid id="pngLogin" columns="3">
				<p:outputLabel id="otpLogin" for="iptLogin"
					value="#{msg.LABEL_LOGIN}" />
				<p:inputText id="iptLogin" value="#{loginMB.loginTO.login}"
					required="true" requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}" />
				<p:message for="iptLogin" id="msgLogin" />

				<p:outputLabel id="otpSenha" for="pswSenha"
					value="#{msg.LABEL_SENHA}" />
				<p:password id="pswSenha" value="#{loginMB.loginTO.senha}"
					required="true" requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}" />
				<p:message for="pswSenha" id="msgSenha" />

			</h:panelGrid>
			<p:commandButton value="#{msg.BOTAO_LOGAR}" process="@this pngLogin"
				update="pngLogin grwLogin" action="#{loginMB.logar}" />
		</p:panel>
	</ui:define>
</ui:composition>