<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/default.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="container">
		<p:growl id="grwGerenciaRecado" showDetail="true" globalOnly="true"
			sticky="true" />

		<p:panel id="pnlGerenciaRecado" styleClass="pnlDefault"
			header="#{msg.TEXT_RECADO}">

			<p:dialog widgetVar="dlgDetalheRecado" id="dlgDetalheRecado"
				modal="true" resizable="false" width="500">
				<h:panelGrid id="pngGerenciaRecado"
					columnClasses="ui-grid-col-3,ui-grid-col-8" styleClass="pngDefault"
					columns="2" prependId="false">

					<p:outputLabel for="iptContato" id="otpContato"
						value="#{msg.LABEL_CONTATO}" />
					<p:inputText id="iptContato" style="width: 200px;" readonly="true"
						value="#{gerenciaRecadoMB.recado.idContato}" />

					<p:outputLabel for="iptQuem" id="otpQuem" value="#{msg.LABEL_QUEM}" />
					<p:inputText id="iptQuem" style="width: 200px;" readonly="true"
						value="#{gerenciaRecadoMB.recado.quem}" />

					<p:outputLabel for="iptTexto" id="otpTexto"
						value="#{msg.LABEL_TEXTO}" />
					<p:inputTextarea id="iptTexto" style="width: 300px;"
						readonly="true" value="#{gerenciaRecadoMB.recado.texto}" />

					<p:outputLabel for="sbcFoiLido" id="otpFoiLidoBoolean"
						value="#{msg.LABEL_FOI_LIDO}" />
					<p:selectBooleanCheckbox id="sbcFoiLido"
						value="#{gerenciaRecadoMB.foiLidoBoolean}">
						<p:ajax update="dttMeusRecados"
							listener="#{gerenciaRecadoMB.marcarComoNaoLido}" />
					</p:selectBooleanCheckbox>

				</h:panelGrid>
			</p:dialog>

			<p:dataTable id="dttMeusRecados" var="recado"
				value="#{gerenciaRecadoMB.meusRecados}"
				selection="#{gerenciaRecadoMB.recadoSelected}"
				selectionMode="single" rowKey="#{recado.id}">

				<p:ajax event="rowSelect"
					listener="#{gerenciaRecadoMB.abrirDetalhe}"
					update=":formPrincipal:dlgDetalheRecado, :formPrincipal:dttMeusRecados" />

				<p:column headerText="#{msg.COLUMN_QUEM}">
					<h:outputLabel value="#{recado.quem}" style="width:200px" />
				</p:column>
				<p:column headerText="#{msg.COLUMN_FOI_LIDO}">
					<h:outputLabel value="#{gerenciaRecadoMB.foiLido(recado)}" />
				</p:column>
			</p:dataTable>
		</p:panel>
	</ui:define>
</ui:composition>