<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/default.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="container">
		<p:growl id="grwInicio" showDetail="true" globalOnly="true"
			sticky="true" />
		<p:panel d="pnlInicio" styleClass="pnlDefault"
			header="#{msg.TEXT_INICIO}">
			<p:outputLabel value="#{inicioMB.saudacao}" style="width: 400px;" />
		</p:panel>

	</ui:define>
</ui:composition>