<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/default.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="container">
		<p:growl id="grwCadastroContato" showDetail="true" globalOnly="true"
			sticky="true" />
		<p:panel id="pnlContato" styleClass="pnlDefault"
			header="#{msg.TEXT_CONTATO}">
			<h:panelGrid id="pngContato"
				columnClasses="ui-grid-col-3,ui-grid-col-4,ui-grid-col-4"
				styleClass="pngDefault" columns="3" prependId="false">

				<p:outputLabel for="iptNome" id="otpNome" value="#{msg.LABEL_NOME}" />
				<p:inputText id="iptNome" style="width: 300px;"
					requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}"
					value="#{contatoMB.contato.nome}" required="true" />
				<p:message for="iptNome" id="msgNome" />

				<p:outputLabel for="iptLogin" id="otpLogin"
					value="#{msg.LABEL_LOGIN}" />
				<p:inputText id="iptLogin" style="width: 300px;"
					requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}"
					value="#{contatoMB.contato.login}" required="true" />
				<p:message for="iptLogin" id="msgLogin" />

				<p:outputLabel for="iptRamal" id="otpRamal"
					value="#{msg.LABEL_RAMAL}" />
				<p:inputText id="iptRamal" style="width: 300px;"
					requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}"
					value="#{contatoMB.contato.ramal}" required="true" />
				<p:message for="iptRamal" id="msgRamal" />

				<p:outputLabel for="iptEmail" id="otpEmail"
					value="#{msg.LABEL_EMAIL}" />
				<p:inputText id="iptEmail" style="width: 300px;"
					requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}"
					value="#{contatoMB.contato.email}" required="true" />
				<p:message for="iptEmail" id="msgEmail" />

				<p:outputLabel for="pswSenha" id="otpSenha"
					value="#{msg.LABEL_SENHA}" />
				<p:password id="pswSenha" style="width: 300px;"
					match="pswConfirmaSenha"
					requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}"
					value="#{contatoMB.contato.senha}" required="true" />
				<p:message for="pswSenha" id="msgSenha" />

				<p:outputLabel for="pswConfirmaSenha" id="otpConfirmaSenha"
					value="#{msg.LABEL_CONFIRMAR_SENHA}" />
				<p:password id="pswConfirmaSenha" style="width: 300px;"
					requiredMessage="#{msg.MSG_CAMPO_OBRIGATORIO}" required="true" />
				<p:message for="pswConfirmaSenha" id="msgConfirmaSenha" />


			</h:panelGrid>
			<h:panelGrid id="pngBotao" styleClass="pngBotao" columns="2">
				<p:commandButton id="btnSalvar" action="#{contatoMB.salvar}"
					update="pngContato grwCadastroContato" value="#{msg.BOTAO_SALVAR}"
					process="pngContato @this" />
			</h:panelGrid>
		</p:panel>

	</ui:define>
</ui:composition>